#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#version-footer {
  font-family: "Wavehaus-Bold";
  letter-spacing: 0.82px;
  padding-top: 4rem;

  justify-self: flex-end;
  align-self: flex-end;
  text-align: right;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.form-label {
  margin: 0.5rem 0.5rem 0.25rem 0.1rem;
  font-weight: bold;
  font-family: Wavehaus-Bold;
  text-align: left;
}

.form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--off-gray);
  border-radius: 0.5rem;
  font-family: Wavehaus-Semi;
  box-sizing: border-box;
  background-color: var(--dark-gray);
}

@media (prefers-color-scheme: light) {
  .form-input {
    background-color: var(--white);
  }
}

.proceed-button {
  margin: 1.25rem;
  padding: 1rem 1.25rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--ardrive-red);
  color: var(--white);
  font-family: Wavehaus-Bold;
  cursor: pointer;
}

.proceed-button:hover {
  background-color: var(--ardrive-red);
}

.proceed-button:disabled {
  background-color: var(--off-gray);
  cursor: not-allowed;
}
