#version-footer {
  font-family: "Wavehaus-Bold";
  font-size: 14px;
  letter-spacing: 0.82px;
  padding-top: 4rem;

  @media (min-width: 800px) {
    font-size: 16px;
  }

  @media (min-width: 1200px) {
    font-size: 18px;
  }

  justify-self: flex-end;
  align-self: flex-end;
  text-align: right;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem 2rem;
  width: 100%;
  max-width: 28rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0.5rem 1rem;
  width: 100%;
}

.form-label {
  margin: 0.5rem 0.5rem 0.25rem 0.1rem;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Wavehaus-Bold;
  text-align: left;
  font-size: 1rem;
}

.form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--off-gray);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-family: Wavehaus-Semi;
  box-sizing: border-box;
  background-color: var(--dark-gray);

  @media (prefers-color-scheme: light) {
    background-color: var(--white);
  }
}

.proceed-button {
  margin: 2rem;
  padding: 1rem 1.25rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--ardrive-red);
  color: var(--white);
  font-size: 1.25rem;
  font-family: Wavehaus-Bold;
  cursor: pointer;
}

.proceed-button:hover {
  background-color: var(--ardrive-red);
}

.proceed-button:disabled {
  background-color: var(--off-gray);
  cursor: not-allowed;
}
