.expandable {
  padding: 1.5rem 0;
  font-family: "Wavehaus-Book";
}

.expandable h3 {
  @media (min-width: 640px) {
    font-size: 18px;
  }

  @media (min-width: 800px) {
    font-size: 20px;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}

.expandable:not(:last-of-type) {
  border-bottom: 0.25px;
  border-color: var(--off-gray);
  border-bottom-style: solid;
}

.expandable button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  display: flex;
  width: 100%;

  padding: 0;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  text-align: left;
  letter-spacing: 1.09px;
  font-family: Wavehaus-Book;
}

.expandable div {
  padding-left: 1rem;
  height: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
}

.expandable p {
  padding-top: 1rem;
}

.expandable strong {
  font-family: "Wavehaus-Bold";
}

.expandable.expanded button {
  font-family: Wavehaus-Semi;
}

.expandable.expanded div {
  transform: rotate(180deg);
}
