:root {
  font-family: Wavehaus-Semi, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ardrive-red: #d31721;
  --text-white: #a6a6a6;
  --white: #fafafa;
  --black: #0d0d0d;
  --dark-gray: #171717;
  --gray: #7d7d7d;
  --off-gray: #787878;
}

/* Firefox */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

a {
  color: var(--ardrive-red);
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 0.25rem;
  border: 0.1rem solid var(--gray);
}
input[type="checkbox"]:checked {
  background-color: var(--ardrive-red);
  border: none;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

/* Custom check mark for checked state */
input[type="checkbox"]:checked::before {
  content: "\2713"; /* Unicode check mark character */
  font-size: 1.5rem;
  color: var(--white);
  position: absolute;
  transform: translate(10%, -10%);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black);
    background-color: var(--white);
  }
}
